footer{
    background-color:black;
    margin-top: 10%;
    color: white;
}

.container-fluid {
    padding-top: 100px;
    padding-bottom: 50px;
}

.container-fluid1 {
    padding-top: 0px;
    padding-bottom: 0px;
}

.row {
    padding-top: 20px;
    padding-bottom: 20px;

  }

  .p1{
    color:red; 
}

.page-header{
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
    }

a{
    text-decoration: none;
}

.panel{
    height:auto;
    width: auto;
}

.list-group-item1{
    text-align:center;
    font-family:Aerial;
    font-size:10px;
    background-color:white;
    box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);
}